DATABASE_URL=
STORAGE_PATH=./storage

KEYCLOAK_SERVER_URL=https://keycloak:8443
KEYCLOAK_REALM=health_app
KEYCLOAK_CLIENT_ID=health_app_frontend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_PUBLIC_KEY_URL=https://keycloak:8443/realms/health_app/protocol/openid-connect/certs
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=