ELASTIC_VERSION=9.4.2

ELASTIC_PASSWORD='A_CHANGER_MDP_ADMIN'
LOGSTASH_INTERNAL_PASSWORD='A_CHANGER_MDP_LOGSTASH'
LOGSTASH_ALERTS_PASSWORD='A_CHANGER_MDP_LOGSTASH_ALERTS'
KIBANA_SYSTEM_PASSWORD='A_CHANGER_MDP_KIBANA'

METRICBEAT_INTERNAL_PASSWORD='A_CHANGER_MDP_METRICBEAT_ALEATOIRE'
FILEBEAT_INTERNAL_PASSWORD='A_CHANGER_MDP_FILEBEAT_ALEATOIRE'
HEARTBEAT_INTERNAL_PASSWORD='A_CHANGER_MDP_HEARTBEAT_ALEATOIRE'
MONITORING_INTERNAL_PASSWORD='A_CHANGER_MDP_MONITORING_ALEATOIRE'
BEATS_SYSTEM_PASSWORD='A_CHANGER_MDP_BEATS_ALEATOIRE'

XPACK_ENCRYPTION_KEY='A_CHANGER_MDP_XPACK_ALEATOIRE_AB'     # Min 32 caractere
POSTGRES_PASSWORD='A_CHANGER_MDP_POSTGRES'
KEYCLOAK_ADMIN_PASSWORD='A_CHANGER_MDP_KEYCLOAK_ADMIN'
KEYCLOAK_CLIENT_SECRET='A_CHANGER_MDP_KEYCLOAK_CLIENT'
SESSION_SECRET='A_CHANGER_SESSION_SECRET_MIN_32_CARACTERES_ALEATOIRES'
SERVER_KEY_PASS='A_CHANGER_MDP_SERVER'
KEYCLOAK_TRUSTSTORE_PASSWORD='A_CHANGER_KEYCLOAK_TRUSTSTORE'

ROOT_PASS='A_CHANGER_ROOT_PASS'
SIGNING1_PASS='A_CHANGER_SIGNING1_PASS'
SIGNING2_PASS='A_CHANGER_SIGNING2_PASS'
KEYCLOAK_KEY_PASS='A_CHANGER_KEYCLOAK_KEY_PASS'
RECAPTCHA_SITE_KEY='A_CHANGER_SITE_KEY'
RECAPTCHA_SECRET_KEY='A_CHANGER_SECRET_KEY'
WEBSERVER_KEY_PASS='A_CHANGER_WEBSERVER_KEY_PASS'
ELASTICSEARCH_KEY_PASS='A_CHANGER_ELASTICSEARCH_KEY_PASS'
KIBANA_KEY_PASS='A_CHANGER_KIBANA_KEY_PASS'
LOGSTASH_KEY_PASS='A_CHANGER_LOGSTASH_KEY_PASS'
BACKEND_KEY_PASS='A_CHANGER_BACKEND_KEY_PASS'
POSTGRES_KEY_PASS='A_CHANGER_POSTGRES_KEY_PASS'
